html {
  scroll-behavior: smooth; }

body {
  background-color: #f0f0f0;
  margin: 0;
  font-family: 'Saira Extra Condensed', sans-serif; }

header {
  height: 100vh;
  background: linear-gradient(rgba(190, 190, 190, 0.384), rgba(7, 7, 7, 0.342)), url(../images/outdoor.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 1px 1px 56.25% black; }

nav {
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 3px;
  width: 100%;
  position: fixed;
  z-index: 1;
  font-family: 'Saira Extra Condensed', sans-serif; }
  nav ul {
    list-style: none;
    margin-top: 0;
    text-align: right;
    padding: 0; }
    nav ul li {
      display: inline;
      padding: 5px 25px; }
      nav ul li a {
        font-size: 20px;
        text-decoration: none;
        color: gray;
        padding: 10px 15px;
        text-transform: uppercase; }
      nav ul li .campground {
        text-align: left !important;
        font-size: 20px;
        float: left;
        color: gray;
        padding-top: 5px;
        text-transform: uppercase; }
  nav #toggleNav {
    z-index: 3;
    transform: translate(0px, -66%);
    display: inline; }
  nav #toggleNav.active {
    display: initial; }
  nav .toggle {
    display: none;
    z-index: 1000;
    font-size: 20px;
    color: gray;
    padding: 10px 15px; }

.campground:hover {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

input {
  border-radius: 6px;
  font-family: 'Pacifico', cursive;
  color: grey;
  margin-left: 0px;
  border: 1px solid;
  padding: 5px; }

select {
  border-radius: 6px;
  font-family: 'Pacifico', cursive;
  color: grey;
  margin-left: 0px;
  border: 1px solid;
  padding: 5px; }

.text {
  width: 377px; }

textarea {
  border-radius: 6px;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  letter-spacing: 2px;
  color: grey;
  margin-left: 0px;
  border: 1px solid;
  padding: 5px;
  resize: none; }

form {
  padding-left: 20px; }

footer ul {
  list-style: none;
  text-align: center; }
  footer ul li {
    display: inline;
    padding: 17px; }
    footer ul li a {
      font-size: 100%;
      text-decoration: none;
      color: black;
      padding: 15px;
      text-transform: uppercase; }

.main {
  margin: 15px;
  width: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-template-areas: "intro" "camping" "canoeing" "climbing" "fishing" "hiking" "hunting"; }

.intro {
  grid-area: intro;
  padding: 50px;
  width: 90vh;
  margin-left: 25%; }

.camping {
  grid-area: camping;
  padding: 20px;
  margin: 20px 0;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 90vh); }

.canoeing {
  grid-area: canoeing;
  padding: 20px;
  margin: 20px 0;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 90vh); }

.climbing {
  grid-area: climbing;
  padding: 20px;
  margin: 20px 0;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 90vh); }

.fishing {
  grid-area: fishing;
  padding: 20px;
  margin: 20px 0;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 90vh); }

.hiking {
  grid-area: hiking;
  padding: 20px;
  margin: 20px 0;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 90vh); }

.hunting {
  grid-area: hunting;
  padding: 20px;
  margin: 20px 0;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 90vh); }

.thumb-grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto; }

.gallery {
  margin: 0 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto, 1fr); }

@font-face {
  font-family: 'Saira Extra Condensed';
  src: url(../fonts/Saira_Extra_Condensed/SairaExtraCondensed-Regular.ttf); }
/* The container - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block; }

/* dropdown-content */
.dropdown-content {
  position: absolute;
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 5px black;
  min-width: 118px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 5px;
  text-align: center; }

/* Links inside the dropdown */
.dropdown-content a {
  font-size: 20px;
  text-decoration: none;
  color: gray;
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: black;
  text-decoration: underline; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; }

.hero {
  color: #CCE3DE;
  letter-spacing: 13px;
  text-transform: uppercase;
  text-shadow: 3px 5px 2px black;
  font-size: 48px;
  position: absolute;
  transform: translate(11em, 5em); }

.hero h1 {
  margin-top: 0; }

.fa-chevron-down {
  color: #CCE3DE;
  font-size: 43px;
  position: absolute;
  transform: translate(15.5em, 14em);
  transition: all .5s ease-in; }

.fa-chevron-down:hover {
  text-shadow: 2px 2px 2px black; }

.main {
  margin-top: 30px; }

.intro {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px; }
  .intro hr {
    margin-top: 7vh;
    height: 2px;
    width: 241px;
    background-color: #8080808f;
    border-style: hidden;
    border-radius: 1px; }

.paragraph {
  width: 100%;
  font-size: 18px;
  margin: 0 auto;
  text-align: start; }

h1 {
  text-align: center; }

.thumbnails {
  padding: 5px; }

.thumbnails a {
  outline: none;
  text-decoration: none; }

.thumb-grid img {
  -webkit-filter: opacity(40%);
  width: 100%;
  height: 100%;
  transform: translate(85px, 0);
  transition: -webkit-filter 1.5s ease-out; }

.thumb-grid img:hover {
  -webkit-filter: opacity(100%);
  transition: -webkit-filter 0.5s ease-out;
  box-shadow: 1px 1px 9px black; }

.button {
  text-decoration: none;
  color: white;
  background-color: #000000c4;
  border-radius: 5px;
  padding: 6px 16px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase; }

.active {
  color: black; }

.active:hover {
  cursor: default; }

.p-button {
  text-align: center; }

.feet {
  text-align: center; }

footer {
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  padding: 5px; }

.fab {
  font-size: 30px;
  padding: 20px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

.fab:hover {
  cursor: pointer; }

.fa-facebook:hover {
  color: #3c5a99; }

.fa-instagram:hover {
  color: #f78c9e; }

.fa-linkedin:hover {
  color: darkblue; }

.icons {
  text-align: center; }

.icons hr {
  width: 30%;
  border-style: solid;
  background-color: rgba(128, 128, 128, 0.596);
  color: rgba(128, 128, 128, 0.596); }

.core-front {
  background: url(../images/Forests-bridges-natural-scenery-hd-wallpaper-backgrounds-1920x1080.jpg);
  background-position: center;
  background-size: cover;
  height: 40vh;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

.nav-gallery {
  height: 40px; }

.nav-gallery ul {
  padding-top: 0px; }

.gallery-items {
  padding: 2px;
  grid-column: span 2;
  grid-row: span 2; }

.gallery-items img {
  width: 100%;
  height: 100%; }

.masonary {
  text-align: center;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); }

.masonary-item {
  grid-column: span 4;
  grid-row: span 2; }

.gallery-img {
  grid-column: span 3; }

.form {
  width: 32%;
  margin-top: 5vh;
  margin-left: 31%;
  padding: 10px;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5), -2px -2px 9px rgba(0, 0, 0, 0.5);
  background-color: rgba(245, 245, 245, 0.432);
  border-radius: 5px; }

.ul {
  padding-top: 18px; }

.contact-nav {
  position: initial; }

.contact-a:hover {
  color: black;
  background: none; }

.form-action {
  align-content: center; }

.body {
  background: url(../images/jungle_fantasy_deer_butterflies_night_trees_102121_1920x1080.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.inyauo {
  background-color: rgba(245, 245, 245, 0.432); }

.checkboxThree {
  width: 60px;
  height: 20px;
  background: #333;
  border-radius: 25px;
  position: relative; }

.checkboxThree:before {
  content: 'On';
  position: absolute;
  top: 6px;
  left: 7.5px;
  height: 2px;
  color: #26ca28;
  font-size: 8px; }

.checkboxThree:after {
  content: 'Off';
  position: absolute;
  top: 6px;
  left: 42px;
  height: 1px;
  color: #111;
  font-size: 8px; }

.checkboxThree label {
  display: block;
  width: 26px;
  height: 11px;
  border-radius: 25px;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 4.5px;
  z-index: 1;
  left: 6px;
  background: #ddd; }

.checkboxThree input[type=checkbox] {
  -webkit-appearance: button-bevel; }

.checkboxThree input[type=checkbox]:checked + label {
  left: 30px;
  background: #26ca28; }

@media (max-width: 790px) and (min-width: 600px) {
  header {
    font-size: 12px;
    height: 100vh; }

  .dropdown-content {
    position: absolute;
    display: none;
    background-color: rgba(116, 110, 110, 0.7);
    border-radius: 5px;
    min-width: 95px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-top: 15px; }

  .intro {
    margin-left: 12%; }

  .thumb-grid {
    grid-template-columns: repeat(1, 1fr); }

  .hero {
    transform: translate(5em, 5em); }

  p, .paragraph {
    font-size: 15px;
    width: auto; }

  .home-nav {
    height: 40px;
    width: 100%; }
    .home-nav li {
      padding: 5px 10px; }
    .home-nav a {
      padding: 10px 10px; }

  #toggleNav {
    display: none !important; }

  #toggleNav.active {
    display: initial !important; }

  .toggle {
    display: initial !important; }

  .fa-chevron-down {
    transform: translate(9.5em, 12em); }

  .camping {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 68vh); }

  .thumb-camp {
    display: none; }

  .fishing {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 68vh); }

  .canoeing {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 68vh); }

  .hunting {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 68vh); }

  .hiking {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 68vh); }

  .climbing {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 68vh); }

  .thumb-grid img {
    transform: translate(49px, 0); }

  .feet {
    font-size: 14px; }

  .fab {
    padding: 15px;
    font-size: 35px; }

  .gallery {
    margin: 0 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto, 1fr); }

  .masonary-item {
    grid-column: span 2;
    grid-row: span 1; }

  .gallery-img {
    grid-column: span 2s; }

  .masonary {
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 20px; }

  .nav-gallery {
    height: 60px;
    font-size: 15px; }

  ul {
    margin-top: 0; }
    ul li {
      padding: 20px; }
      ul li a {
        padding: 12px; }

  .form {
    width: 45%;
    margin-left: 25%; }

  .text, textarea {
    width: 290px; } }
@media (max-width: 450px) {
  header {
    height: 110vh; }

  nav {
    height: 35px; }
    nav ul {
      padding: 0; }
      nav ul li {
        display: inline;
        padding: 7px; }
        nav ul li a {
          padding: 7px;
          font-size: 11px; }

  #toggleNav {
    display: none !important; }

  #toggleNav.active {
    display: initial !important;
    position: absolute;
    transform: translate(-83%, 14%);
    text-align: center;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 3px;
    width: 102%;
    height: 10em; }
    #toggleNav.active li {
      padding: 10px;
      display: block; }
    #toggleNav.active a {
      font-size: 20px; }

  .toggle {
    display: initial !important; }

  p, .paragraph {
    font-size: 13px;
    width: auto; }

  .thumbnails {
    border: none; }

  .thumb-grid {
    grid-template-columns: repeat(1, 1fr); }

  .intro {
    margin-left: 5px;
    width: 170px; }

  .thumb-grid img {
    transform: translate(0px, 0); }

  .dropdown-content {
    min-width: 87px; }

  .dropdown-content a {
    padding: 9px; }

  .button {
    padding: 7px;
    font-size: 12px; }

  .feet {
    font-size: 14px; }

  .fab {
    padding: 15px;
    font-size: 30px; }

  .form {
    width: 80%;
    margin-left: 22px; }

  .text, textarea {
    width: 205px; }

  .ul {
    padding: 0; }
    .ul li {
      padding: 5px; }
      .ul li a {
        padding: 7px;
        font-size: 20px; }

  .hero {
    font-size: 26px;
    position: absolute;
    transform: translate(1.5em, 9em); }

  .camping,
  .fishing,
  .canoeing,
  .hunting,
  .hiking,
  .climbing {
    margin: 10px 0 !important;
    grid-template-columns: 1fr; }

  .gallery {
    grid-template-columns: repeat(1, 1fr); }

  .gallery-items {
    padding: 2px;
    grid-column: span 1;
    grid-row: span 1; }

  .masonary {
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 20px; } }

/*# sourceMappingURL=main.css.map */
