// Here I only insert my elemant tags

// Header
html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(240, 240, 240);
    margin: 0;
    font-family: 'Saira Extra Condensed', sans-serif;
}

header {
    height: 100vh;
    background: linear-gradient(rgba(190, 190, 190, 0.384),rgba(7, 7, 7, 0.342)), url(../images/outdoor.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 1px 1px 56.25% black;
}

// Nav Bar
nav {
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 3px;
    width: 100%;
    position: fixed;
    z-index: 1;
    font-family: 'Saira Extra Condensed', sans-serif;


    ul {
        list-style: none;
        margin-top: 0;
        text-align:right;
        padding: 0;

        li {
            display: inline;
            padding: 5px 25px;
            

        
            a {
                font-size: 20px;
                text-decoration: none;
                color: gray;
                padding: 10px 15px;
                text-transform: uppercase; 
            }

            .campground {
                text-align: left !important;
                font-size: 20px;
                float: left;
                color: gray;
                padding-top: 5px;
                text-transform: uppercase;
            }

        }

    }
}

.campground:hover {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;  
}
 





// ********************************************************************************************************************************************************************************************************************************************************************

// Website 3: Contact 

input {
    @include soulcalidrago;
}

select {
    @include soulcalidrago;
}

.text {
    width: 377px;
}

textarea {
    border-radius: 6px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    color: grey;
    margin-left: 0px;
    border: 1px solid;
    padding: 5px;
    resize: none;
}


form {
    padding-left: 20px;
}

footer {
    
    ul {
        list-style: none;
        text-align: center;

        li {
            display: inline;
            padding: 17px;
            
        
            a {
                font-size: 100%;
                text-decoration: none;
                color: rgb(0, 0, 0,);
                padding: 15px;
                text-transform: uppercase; 
            }

        }
    }
}
