// Here I only insert my elemant tags

// Header
html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(240, 240, 240);
    margin: 0;
    font-family: 'Merriweather','Quicksand', 'Arvo', serif;
}

header {
    height: 100vh;
    background: linear-gradient(rgba(190, 190, 190, 0.384),rgba(7, 7, 7, 0.342)), url(../images/outdoor.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 1px 1px 56.25% black;
}

// Nav Bar
nav {
    height: 70px;
    background-color: rgba(27, 25, 25, 0.404);
    box-shadow: 2px 2px 3px;
    padding-top: 5px;
    width: 100%;
    position: fixed;

    ul {
        list-style: none;
        margin-top: 0;
        text-align: center;

        li {
            display: inline;
            padding: 25px;
            

        
            a {
                font-size: 100%;
                text-decoration: none;
                color: white;
                padding: 15px;
                text-transform: uppercase; 
            }

        }
    }
}

a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    color: black;
    box-shadow: 1px 1px 5px black;
    
}
 

