// Layout structure

.main {
    margin: 15px;
    width: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto,1fr);
    grid-template-areas: 
        "intro"
        "camping"
        "canoeing"
        "climbing"
        "fishing"
        "hiking"
        "hunting"
}

.intro {
    grid-area: intro;
    @include box;
}

.camping {
    grid-area: camping;
    padding: 20px;
    margin: 20px 0;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2,90vh);

}

.canoeing {
    grid-area: canoeing;
    @include grid;
}

.climbing {
    grid-area: climbing;
    @include grid;
}

.fishing {
    grid-area: fishing;
    @include grid;
}

.hiking {
    grid-area: hiking;
    @include grid;
}

.hunting {
    grid-area: hunting;
    @include grid;
}

// Grid for my Thumbnails

.thumb-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;

}


// ********************************************************************************************************************************************************************************************************************************************************************

// Website 2: Gallery

.gallery {
    margin: 0 10px;
    display: grid;
    grid-gap: 10px;

    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(auto,1fr);
}
