// Layout structure

.main {
    margin: 15px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "intro intro"
        "camping canoeing"
        "climbing fishing"
        "hiking hunting"
}

.intro {
    grid-area: intro;
    @include box;
}

.camping {
    grid-area: camping;
    @include grid;
}

.canoeing {
    grid-area: canoeing;
    @include grid;
}

.climbing {
    grid-area: climbing;
    @include grid;
}

.fishing {
    grid-area: fishing;
    @include grid;
}

.hiking {
    grid-area: hiking;
    @include grid;
}

.hunting {
    grid-area: hunting;
    @include grid;
}

// Grid for my Thumbnails

.thumb-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}

// ********************************************************************************************************************************************************************************************************************************************************************

// Website 2: Gallery

.core-front {
    background: url(../images/Forests-bridges-natural-scenery-hd-wallpaper-backgrounds-1920x1080.jpg);
    background-position: center;
    background-size: cover;
    height: 40vh;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.nav-gallery {
    height: 50px;
}

.nav-gallery ul {
    padding-top: 16px;
}

.gallery {
    margin: 0 10px;
    display: grid;
    grid-gap: 10px;

    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(auto,auto);
}

.gallery-items {
    background-color: bisque;
    padding: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.masonary {
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}
