// Mixins

@mixin grid {
    box-shadow: 2px 2px 3px black;
    padding: 20px;
}

@mixin box {
    box-shadow: 2px 2px 9px black;
    padding: 50px;
    width: 90vh;
    margin-left: 25%;
}

@mixin thumbnails-dead {
    padding: 5px;
}

@mixin avengers {
    text-align: center;
    color: #CCE3DE;
    padding-top: 45vh;
    letter-spacing: 9px;
    text-transform: uppercase;
    text-shadow: 3px 5px 2px black;
    font-size: 40px;
    margin-top: 0;
}


@mixin soulcalidrago {
    border-radius: 6px;
    font-family: 'Pacifico', cursive;
    color: grey;
    margin-left: 0px;
    border: 1px solid;
    padding: 5px;   
}